parameters:
    level: max
    paths:
        - solutions
        - ./
    excludePaths:
        analyse:
            - %currentWorkingDirectory%/vendor/*
            - %currentWorkingDirectory%/tests/*
